{% extends "base.html" %}

{% block title %}Coming Soon{% endblock %}

{% block body %}
<div id="shim"></div>
<div id="content">
	<div class="main_box">
		<h2>Our website is coming soon.<br><span>In the mean time connect with me using the information below:</span></h2>

		<ul class="info">
			<li>
				<h3><div class="cufon cufon-canvas" alt="P" style="width: 18px; height: 24px;">
					<div width="26" height="24" style="width: 26px; height: 24px; top: -2px; left: -1px;">
					</div></div></h3>
				<p><i class="fas fa-stroopwafel fa-lg"></i>&nbsp;&nbsp;Lindsey Cameron<br>
					<i class="fas fa-envelope-square fa-lg"></i>&nbsp;&nbsp;ldcamer@umich.edu</p>
			</li>
			<li>
				<h3><div class="cufon cufon-canvas" alt="A" style="width: 19px; height: 24px;">
					<div width="26" height="24" style="width: 26px; height: 24px; top: -2px; left: -1px;">
					</div></div></h3>
				<p><i class="fas fa-address-card fa-lg"></i>&nbsp;&nbsp;Ross School of Business<br>
					<i class="fas fa-address-card fa-lg"></i>&nbsp;&nbsp;Ann Arbor, MI 48109</p>
			</li>
			<li>
				<h3><div class="cufon cufon-canvas" alt="S" style="width: 16px; height: 24px;">
					<div width="26" height="24" style="width: 26px; height: 24px; top: -2px; left: -1px;">
					</div>
				</div></h3>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
